.container {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right bottom, #00003d 1%, #000000 60%, #23003d 99%);
}

.blockTitle {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    margin-bottom: 2.5vh;
    font-size: calc(min(3vh, 3vw));
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glowTextEffect {
    text-shadow: 0 0 10px #fff, 0 0 20px rgba(255, 255, 255, 0.877), 0 0 30px rgba(255, 255, 255, 0.747), 0 0 40px rgb(0, 60, 255), 0 0 70px rgb(0, 74, 255), 0 0 80px rgb(0, 88, 255), 0 0 100px rgb(0, 102, 255), 0 0 150px rgb(0, 130, 255);
}