.modal {
    /* width: 60vw;
    height: 60vh; */
    position: fixed;
    border: 1px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 20px;
    box-shadow: 0 0 100px black;
    backdrop-filter: blur(10px);
    z-index: 3;
    font-size: 1vw;
    line-height: 3vh;
}

.inputBidding {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 5vw;
    font-size: 1vw;
    line-height: 3vh;
    margin-left: 1vh;
}

.inputBidding::-webkit-inner-spin-button {
    background-color: transparent;
    color: black;
    padding: 0.2vh 0.2vw;
    margin-left: 0.1vw;
}

.acceptButton {
    border: 1px solid white;
    margin: 0.5vw;
    padding: 0.1vh 0.2vw;
    float: left;
}

.cancelButton {
    border: 1px solid white;
    margin: 0.5vw;
    padding: 0.1vh 0.2vw;
    float: right;
}