.modal {
    /* width: 60vw;
    height: 60vh; */
    font-family: 'Sofia Sans Condensed', sans-serif;
    position: fixed;
    border: 1px solid #F0F8FF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 2vh;
    box-shadow: 0 0 100px black;
    backdrop-filter: blur(10px);
    z-index: 3;
    font-size: 3vh;
}

.inputBidding {
    border: 1px solid #F0F8FF;
    background-color: transparent;
    color: #F0F8FF;
    width: auto;
    font-size: 2.5vh;
    margin-left: 1vh;
    text-align: center;
}

.inputBidding::-webkit-inner-spin-button {
    background-color: transparent;
    color: black;
    padding: 0.4vh 0.4vw;
}

.acceptButton {
    border: 1px solid rgb(0, 4, 255);
    margin: 1vw;
    margin-top: 2vw;
    padding: 0.4vh 0.8vw;
    float: left;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    font-size: 2.5vh;
    box-shadow: inset 0 0 20px rgb(0, 4, 255), 0 0 10px rgb(0, 4, 255), 0 0 10px rgb(0, 4, 255);
}

.cancelButton {
    border: 1px solid rgb(135, 0, 212);
    margin: 1vw;
    margin-top: 2vw;
    padding: 0.4vh 0.8vw;
    float: right;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    font-size: 2.5vh;
    box-shadow: inset 0 0 20px rgb(135, 0, 212), 0 0 10px rgb(135, 0, 212), 0 0 10px rgb(135, 0, 212);
}

.acceptButton:hover {
    transform: scale(1.2);
}

.cancelButton:hover {
    transform: scale(1.2);
}

.acceptButton,
.cancelButton {
    transition: all 0.2s ease-in-out;
}

.blockTitle {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    margin-bottom: 2.5vh;
    font-size: 3vh;
}

.error {
    text-align: center;
    color: red;
    margin: 1vh;
    font-size: 2vh;
}

.errorTop {
    text-align: center;
    color: red;
    margin-top: 2vh;
    font-size: 2vh;
}

.glowTextEffect {
    text-shadow: 0 0 10px #fff, 0 0 20px rgba(255, 255, 255, 0.877), 0 0 30px rgba(255, 255, 255, 0.747), 0 0 40px rgb(0, 60, 255), 0 0 70px rgb(0, 74, 255), 0 0 80px rgb(0, 88, 255), 0 0 100px rgb(0, 102, 255), 0 0 150px rgb(0, 130, 255);
}