.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 5vh;
    /* Example height */
    color: #F0F8FF;

    background-color: transparent;
}

.connButton button {
    background-color: transparent !important;
    border-radius: 17px !important;
    box-shadow: inset 0 0 0, 0 0 0, 0 0 20px rgb(255, 255, 255) !important;

}

.connButton button span {
    color: #F0F8FF !important;
    font-weight: normal !important;
    font-size: 2vh !important;
    font-family: 'Gruppo', cursive !important;
    font-weight: bold !important;
}

.navigationBar {
    padding: 1vw;
    border-bottom-width: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;

}

.headerOne {
    font-family: 'Press Start 2P', cursive;
    padding-top: 2vh;
    /* Example padding */
    padding-bottom: 2vh;
    /* Example padding */
    padding-left: 5vw;
    /* Example padding */
    padding-right: 2vw;
    /* Example padding */
    font-weight: bold;
    font-size: 3vh;
    /* Example font size */
    line-height: 4.5vh;
    /* Example line height */

}

.navObj {
    display: flex;
    flex-direction: row;
    align-items: center;

}


.homeButton {
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 2.5vh;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    cursor: pointer;

}

.homeButton span {
    position: relative;
    filter: blur(1.2px);
    transition: 0.5s;
    padding: 0.2vh 0.8vw;

}

.homeButton span:hover {
    filter: blur(0);
    transition: 0;
}

.homeButton span i {
    position: absolute;
    inset: 0;
    background: transparent;
}

.homeButton span i2 {
    position: absolute;
    inset: 0;
    background: transparent;
}

.homeButton span:hover i::before {
    content: '';
    position: absolute;
    transition: 0;
    top: 0;
    left: 0;
    width: 0.1vw;
    height: 1.2vh;
    background-color: rgba(30, 9, 211, 0.61);
    box-shadow: 0 1.9vh rgba(30, 9, 211, 0.61);
}


.homeButton span:hover i::after {
    content: '';
    position: absolute;
    transition: 0;
    top: 0;
    left: 0;
    width: 0.6vw;
    height: 0.1vh;
    background-color: rgba(30, 9, 211, 0.61);
    box-shadow: 0 3.1vh rgba(30, 9, 211, 0.61);
}

.homeButton span:hover i2::before {
    content: '';
    position: absolute;
    transition: 0;
    top: 0;
    right: 0;
    width: 0.1vw;
    height: 1.2vh;
    background-color: rgba(30, 9, 211, 0.61);
    box-shadow: 0 1.9vh rgba(30, 9, 211, 0.61);
}


.homeButton span:hover i2::after {
    content: '';
    position: absolute;
    transition: 0;
    top: 0;
    right: 0;
    width: 0.6vw;
    height: 0.1vh;
    background-color: rgba(30, 9, 211, 0.61);
    box-shadow: 0 3.1vh rgba(30, 9, 211, 0.61);
}